openapi: 3.1.0 info:   title: Corthan Core API (v1)   description: Canonical production API surface for Corthan platform verification, identity, and auditing.   version: 1.0.0 servers:   - url: https://api.corthan.com/v1     description: Production environment   - url: http://localhost:8080/v1     description: Local development environment tags:   - name: NativeAuth     description: Native device ECDSA assertion authentication   - name: QRAuth     description: Poll-based QR authentication (no push/WebSocket) paths:   /auth:     post:       summary: Native device authentication ΓÇö verify ECDSA assertion and issue JWT       description: |         Formalized native authentication flow (Design-P2 ┬º5).         Issues a short-lived HS256 JWT bound to a durable session (jti).         Default scopes are issued at auth time to match current handler requirements;         Prompt 6 will enumerate scopes per-operation in OpenAPI security blocks.       operationId: authenticateDevice       tags: [NativeAuth]       requestBody:         required: true         content:           application/json:             schema:               $ref: '#/components/schemas/Assertion'       responses:         '200':           description: Successful authentication           content:             application/json:               schema:                 $ref: '#/components/schemas/AuthTokenSuccess'         '400':           $ref: '#/components/responses/BadRequest'         '401':           $ref: '#/components/responses/Unauthorized'   /auth/qr/session:     post:       summary: Create a short-lived QR authentication session       description: Originating browser/desktop creates a single-use QR challenge (2-minute TTL). Confirmation is observed via poll ΓÇö no push/WebSocket.       operationId: createQRSession       tags: [QRAuth]       requestBody:         required: false         content:           application/json:             schema:               type: object               properties:                 tenant_id:                   type: string       responses:         '200':           description: QR session created           content:             application/json:               schema:                 $ref: '#/components/schemas/QRSessionCreateSuccess'         '400':           $ref: '#/components/responses/BadRequest'   /auth/qr/confirm:     post:       summary: Device confirms a QR session with a signed assertion       description: |         Device signs assertion where nonce MUST equal the QR challenge.         Reuses the native ECDSA verification path. Single-use.       operationId: confirmQRSession       tags: [QRAuth]       requestBody:         required: true         content:           application/json:             schema:               $ref: '#/components/schemas/QRConfirmRequest'       responses:         '200':           description: QR session completed (browser must poll for token)           content:             application/json:               schema:                 $ref: '#/components/schemas/QRConfirmSuccess'         '400':           $ref: '#/components/responses/BadRequest'         '401':           $ref: '#/components/responses/Unauthorized'         '403':           $ref: '#/components/responses/Forbidden'         '409':           $ref: '#/components/responses/Conflict'   /auth/qr/session/{id}:     get:       summary: Poll QR session status (originating browser)       description: Returns pending, or completed with JWT exactly once, then consumed.       operationId: pollQRSession       tags: [QRAuth]       parameters:         - name: id           in: path           required: true           schema:             type: string         - name: tenant_id           in: query           required: true           schema:             type: string       responses:         '200':           description: Poll result           content:             application/json:               schema:                 $ref: '#/components/schemas/QRPollSuccess'         '400':           $ref: '#/components/responses/BadRequest'         '401':           $ref: '#/components/responses/Unauthorized'         '403':           $ref: '#/components/responses/Forbidden'         '404':           $ref: '#/components/responses/NotFound'         '409':           $ref: '#/components/responses/Conflict'   /identity:     post:       summary: Register a new identity profile       operationId: registerIdentity       security:         - BearerAuth: [identity:write]       requestBody:         required: true         content:           application/json:             schema:               $ref: '#/components/schemas/IdentityCreate'       responses:         '200':           description: Identity successfully created           content:             application/json:               schema:                 $ref: '#/components/schemas/IdentitySuccess'         '400':           $ref: '#/components/responses/BadRequest'         '401':           $ref: '#/components/responses/Unauthorized'         '403':           $ref: '#/components/responses/Forbidden'         '409':           $ref: '#/components/responses/Conflict'   /identity/{id}:     get:       summary: Retrieve an identity profile by ID       operationId: getIdentity       security:         - BearerAuth: [identity:read]       parameters:         - $ref: '#/components/parameters/IdentityId'       responses:         '200':           description: Identity profile           content:             application/json:               schema:                 $ref: '#/components/schemas/IdentitySuccess'         '401':           $ref: '#/components/responses/Unauthorized'         '403':           $ref: '#/components/responses/Forbidden'         '404':           $ref: '#/components/responses/NotFound'     put:       summary: Update an identity profile       operationId: updateIdentity       security:         - BearerAuth: [identity:write]       parameters:         - $ref: '#/components/parameters/IdentityId'       requestBody:         required: true         content:           application/json:             schema:               $ref: '#/components/schemas/IdentityUpdate'       responses:         '200':           description: Identity updated           content:             application/json:               schema:                 $ref: '#/components/schemas/IdentitySuccess'         '400':           $ref: '#/components/responses/BadRequest'         '401':           $ref: '#/components/responses/Unauthorized'         '403':           $ref: '#/components/responses/Forbidden'         '404':           $ref: '#/components/responses/NotFound'   /permissions:     get:       summary: Retrieve role and permission scopes for the current token       operationId: getPermissions       security:         - BearerAuth: []       responses:         '200':           description: Role plus effective scopes   /sessions:     get:       summary: List active sessions       operationId: getSessions       security:         - BearerAuth: [sessions:read]       responses:         '200':           description: Active sessions for the tenant           content:             application/json:               schema:                 $ref: '#/components/schemas/SessionListSuccess'         '401':           $ref: '#/components/responses/Unauthorized'         '403':           $ref: '#/components/responses/Forbidden'   /sessions/{id}:     delete:       summary: Revoke an active session (invalidates bound JWT)       operationId: deleteSession       security:         - BearerAuth: [sessions:write]       parameters:         - name: id           in: path           required: true           schema:             type: string       responses:         '200':           description: Session revoked           content:             application/json:               schema:                 $ref: '#/components/schemas/SessionRevokedSuccess'         '401':           $ref: '#/components/responses/Unauthorized'         '403':           $ref: '#/components/responses/Forbidden'         '404':           $ref: '#/components/responses/NotFound'   /devices:     get:       summary: Retrieve registered active devices list       operationId: getDevices       security:         - BearerAuth: [devices:read]       responses:         '200':           description: Active devices           content:             application/json:               schema:                 $ref: '#/components/schemas/DeviceListSuccess'         '401':           $ref: '#/components/responses/Unauthorized'         '403':           $ref: '#/components/responses/Forbidden'     post:       summary: Register a new device public key       operationId: registerDevice       security:         - BearerAuth: [devices:write]       requestBody:         required: true         content:           application/json:             schema:               $ref: '#/components/schemas/DeviceCreate'       responses:         '200':           description: Device successfully registered           content:             application/json:               schema:                 $ref: '#/components/schemas/DeviceSuccess'         '400':           $ref: '#/components/responses/BadRequest'         '401':           $ref: '#/components/responses/Unauthorized'         '403':           $ref: '#/components/responses/Forbidden'   /devices/{id}:     delete:       summary: Deactivate (soft-revoke) a device       operationId: deactivateDevice       security:         - BearerAuth: [devices:write]       parameters:         - name: id           in: path           required: true           schema:             type: string       responses:         '200':           description: Device deactivated           content:             application/json:               schema:                 $ref: '#/components/schemas/DeviceRevokedSuccess'         '401':           $ref: '#/components/responses/Unauthorized'         '403':           $ref: '#/components/responses/Forbidden'         '404':           $ref: '#/components/responses/NotFound'   /organizations:     get:       summary: List organizations       operationId: getOrganizations       security:         - BearerAuth: [organizations:read]       responses:         '200':           description: Success     post:       summary: Create organization       operationId: createOrganization       security:         - BearerAuth: [organizations:write]       requestBody:         required: true         content:           application/json:             schema:               type: object               required:                 - organization_id                 - name                 - domain               properties:                 organization_id:                   type: string                 name:                   type: string                 domain:                   type: string       responses:         '200':           description: Organization created   /organizations/{id}/members:     get:       summary: List members of an organization       operationId: getMembers       security:         - BearerAuth: [organizations:read]       parameters:         - name: id           in: path           required: true           schema:             type: string       responses:         '200':           description: Success   /risk/evaluate:     post:       summary: Evaluate authentication risk from persisted signals       description: Signal-based scoring (auth failures, nonce replays, velocity). IP is an optional weighted attribute, not a hardcoded allow/deny list.       operationId: evaluateRisk       security:         - BearerAuth: [risk:read]       requestBody:         required: true         content:           application/json:             schema:               $ref: '#/components/schemas/RiskAssessmentRequest'       responses:         '200':           description: Assessment finished           content:             application/json:               schema:                 $ref: '#/components/schemas/RiskAssessmentSuccess'   /billing/tier:     get:       summary: Retrieve tenant billing tier and usage metering       description: Internal usage metering against Aurora (no external billing provider).       operationId: getBillingTier       security:         - BearerAuth: [billing:read]       responses:         '200':           description: Tier and current period usage           content:             application/json:               schema:                 $ref: '#/components/schemas/BillingTierSuccess'   /developers/keys:     get:       summary: List developer API keys (masked)       operationId: getDeveloperKeys       security:         - BearerAuth: [developers:read]       responses:         '200':           description: Active key metadata without secrets           content:             application/json:               schema:                 $ref: '#/components/schemas/DeveloperKeyListSuccess'     post:       summary: Create a developer API key       description: Returns plaintext secret once; only SHA-256 hash is stored.       operationId: createDeveloperKey       security:         - BearerAuth: [developers:write]       requestBody:         required: true         content:           application/json:             schema:               type: object               required: [name]               properties:                 name:                   type: string       responses:         '201':           description: Key created; secret returned once           content:             application/json:               schema:                 $ref: '#/components/schemas/DeveloperKeyCreateSuccess'         '400':           $ref: '#/components/responses/BadRequest'         '401':           $ref: '#/components/responses/Unauthorized'         '403':           $ref: '#/components/responses/Forbidden'   /developers/keys/{id}:     delete:       summary: Revoke a developer API key       operationId: revokeDeveloperKey       security:         - BearerAuth: [developers:write]       parameters:         - name: id           in: path           required: true           schema:             type: string       responses:         '200':           description: Key revoked         '401':           $ref: '#/components/responses/Unauthorized'         '403':           $ref: '#/components/responses/Forbidden'         '404':           $ref: '#/components/responses/NotFound'   /audit/logs:     get:       summary: Retrieve audit records       operationId: getAuditLogs       security:         - BearerAuth: [audit:read]       responses:         '200':           description: Success components:   securitySchemes:     BearerAuth:       type: http       scheme: bearer       bearerFormat: JWT       description: |         HS256 JWT from POST /auth. Scopes claim must include the scopes listed on each operation.         Catalog: devices:read, devices:write, identity:read, identity:write, sessions:read, sessions:write,         organizations:read, organizations:write, audit:read, billing:read, developers:read, developers:write, risk:read.       x-scopes:         devices:read: List devices         devices:write: Register or deactivate devices         identity:read: Read identity profiles         identity:write: Create or update identity profiles         sessions:read: List sessions         sessions:write: Revoke sessions         organizations:read: List organizations and members         organizations:write: Create organizations         audit:read: Read audit logs         billing:read: Read billing tier and usage         developers:read: List developer API keys         developers:write: Create or revoke developer API keys         risk:read: Evaluate risk   parameters:     IdentityId:       name: id       in: path       required: true       schema:         type: string   schemas:     Assertion:       type: object       required: [device_id, tenant_id, nonce, timestamp, signature]       properties:         device_id:           type: string         tenant_id:           type: string         nonce:           type: string         timestamp:           type: string           description: RFC3339 timestamp within ┬▒5 minutes         signature:           type: string           description: Base64 ASN.1 DER ECDSA signature over device_id:tenant_id:nonce:timestamp     AuthTokenSuccess:       type: object       required: [status, data, meta]       properties:         status:           type: string           enum: [success]         data:           type: object           required: [token]           properties:             token:               type: string         meta:           $ref: '#/components/schemas/Meta'     QRSessionCreate:       type: object       required: [qr_session_id, challenge, tenant_id, expires_at, qr_payload]       properties:         qr_session_id:           type: string         challenge:           type: string         tenant_id:           type: string         expires_at:           type: string           format: date-time         qr_payload:           type: string     QRSessionCreateSuccess:       type: object       required: [status, data, meta]       properties:         status:           type: string           enum: [success]         data:           $ref: '#/components/schemas/QRSessionCreate'         meta:           $ref: '#/components/schemas/Meta'     QRConfirmRequest:       allOf:         - $ref: '#/components/schemas/Assertion'         - type: object           required: [qr_session_id]           properties:             qr_session_id:               type: string               description: Must use QR challenge as assertion nonce     QRConfirmSuccess:       type: object       required: [status, data, meta]       properties:         status:           type: string           enum: [success]         data:           type: object           properties:             status:               type: string             qr_session_id:               type: string         meta:           $ref: '#/components/schemas/Meta'     QRPollResult:       type: object       required: [status, qr_session_id]       properties:         status:           type: string           enum: [pending, completed, expired, consumed]         qr_session_id:           type: string         token:           type: string         device_id:           type: string     QRPollSuccess:       type: object       required: [status, data, meta]       properties:         status:           type: string           enum: [success]         data:           $ref: '#/components/schemas/QRPollResult'         meta:           $ref: '#/components/schemas/Meta'     Meta:       type: object       required: [version, timestamp]       properties:         version:           type: string         timestamp:           type: string           format: date-time         trace_id:           type: string     ErrorDetails:       type: object       required: [code, message, trace_id]       properties:         code:           type: string         message:           type: string         resolution:           type: string         trace_id:           type: string     ErrorEnvelope:       type: object       required: [status, error, meta]       properties:         status:           type: string           enum: [error]         error:           $ref: '#/components/schemas/ErrorDetails'         meta:           $ref: '#/components/schemas/Meta'     Identity:       type: object       required: [identity_id, email, name]       properties:         identity_id:           type: string         email:           type: string           format: email         name:           type: string     IdentityCreate:       $ref: '#/components/schemas/Identity'     IdentityUpdate:       type: object       properties:         email:           type: string           format: email         name:           type: string     IdentitySuccess:       type: object       required: [status, data, meta]       properties:         status:           type: string           enum: [success]         data:           $ref: '#/components/schemas/Identity'         meta:           $ref: '#/components/schemas/Meta'     Session:       type: object       required: [session_id, tenant_id, device_id, created_at, expires_at]       properties:         session_id:           type: string         tenant_id:           type: string         device_id:           type: string         created_at:           type: string           format: date-time         expires_at:           type: string           format: date-time         revoked_at:           type: string           format: date-time           nullable: true     SessionListSuccess:       type: object       required: [status, data, meta]       properties:         status:           type: string           enum: [success]         data:           type: array           items:             $ref: '#/components/schemas/Session'         meta:           $ref: '#/components/schemas/Meta'     SessionRevokedSuccess:       type: object       required: [status, data, meta]       properties:         status:           type: string           enum: [success]         data:           type: object           properties:             status:               type: string             session_id:               type: string         meta:           $ref: '#/components/schemas/Meta'     Device:       type: object       required: [device_id, public_key, status]       properties:         device_id:           type: string         tenant_id:           type: string         public_key:           type: string         status:           type: string           enum: [active, revoked]     DeviceCreate:       type: object       required: [device_id, public_key]       properties:         device_id:           type: string         tenant_id:           type: string         public_key:           type: string     DeviceSuccess:       type: object       required: [status, data, meta]       properties:         status:           type: string           enum: [success]         data:           $ref: '#/components/schemas/Device'         meta:           $ref: '#/components/schemas/Meta'     DeviceListSuccess:       type: object       required: [status, data, meta]       properties:         status:           type: string           enum: [success]         data:           type: array           items:             $ref: '#/components/schemas/Device'         meta:           $ref: '#/components/schemas/Meta'     DeviceRevokedSuccess:       type: object       required: [status, data, meta]       properties:         status:           type: string           enum: [success]         data:           type: object           properties:             status:               type: string             device_id:               type: string         meta:           $ref: '#/components/schemas/Meta'     RiskAssessmentRequest:       type: object       required: [device_id]       properties:         device_id:           type: string         ip:           type: string           description: Optional weighted attribute; not a deny-list     RiskAssessmentSuccess:       type: object       required: [status, data, meta]       properties:         status:           type: string           enum: [success]         data:           type: object           required: [risk_score, action]           properties:             risk_score:               type: number             action:               type: string               enum: [allow, flag, deny]         meta:           $ref: '#/components/schemas/Meta'     BillingTier:       type: object       required: [tier, limit, used, overage_fee]       properties:         tier:           type: string         limit:           type: integer         used:           type: integer         overage_fee:           type: number     BillingTierSuccess:       type: object       required: [status, data, meta]       properties:         status:           type: string           enum: [success]         data:           $ref: '#/components/schemas/BillingTier'         meta:           $ref: '#/components/schemas/Meta'     DeveloperKey:       type: object       required: [key_id, tenant_id, name, created_at]       properties:         key_id:           type: string         tenant_id:           type: string         name:           type: string         prefix:           type: string         created_at:           type: string           format: date-time     DeveloperKeyListSuccess:       type: object       required: [status, data, meta]       properties:         status:           type: string           enum: [success]         data:           type: array           items:             $ref: '#/components/schemas/DeveloperKey'         meta:           $ref: '#/components/schemas/Meta'     DeveloperKeyCreateSuccess:       type: object       required: [status, data, meta]       properties:         status:           type: string           enum: [success]         data:           type: object           required: [key_id, secret]           properties:             key_id:               type: string             tenant_id:               type: string             name:               type: string             prefix:               type: string             secret:               type: string             created_at:               type: string               format: date-time         meta:           $ref: '#/components/schemas/Meta'   responses:     BadRequest:       description: Invalid request       content:         application/json:           schema:             $ref: '#/components/schemas/ErrorEnvelope'     Unauthorized:       description: Authentication required or token revoked       content:         application/json:           schema:             $ref: '#/components/schemas/ErrorEnvelope'     Forbidden:       description: Insufficient scopes or tenant mismatch       content:         application/json:           schema:             $ref: '#/components/schemas/ErrorEnvelope'     NotFound:       description: Resource not found       content:         application/json:           schema:             $ref: '#/components/schemas/ErrorEnvelope'     Conflict:       description: Resource conflict       content:         application/json:           schema:             $ref: '#/components/schemas/ErrorEnvelope'